# IDEs
.idea/
*.iml

.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# xmake
.xmake/
build/
cmake-build-debug/
Makefile
CMakeLists.txt
Xmake.Custom.*
vsxmake20*/*
!vsxmake20*/*.sln.DotSettings

# macOS
.DS_Store

# LLM tools
.claude/*.local.json

